# ignore all files and folders at root
/*

 */
# track this file
!.gitignore
!.jshintrc
!gulpfile.js
!LICENSE.txt
!package.json
!readme.md
!development/
!production/

# ignore media files
*.mp4
*.mp3

# ignore OS files
*.DS_Store