:root{
  font-size: 14px;
  line-height: 1.5rem;
  font-family: Helvetica,Arial,Sans-Serif;
}
*,*:before,*:after{
  box-sizing: border-box;
}
html,body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
  overflow: hidden;
}

body{
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #000;
}
main{
  width: 100%;
  height: 100%;
  max-width: 480px;
  max-height: 853px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0, 0.4);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
section{
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
img{
  display: block;
  width: 100%;
  height: auto;
}
audio{
  display: none;
  visibility: none;
  opacity: 0;
  height: 0;
  width: 0;
}
video{
  display: block;
  width: 100%;
}
canvas{
  display: block;
  width: 100%;
  height: 100%;
}