*,*:before,*:after{
  box-sizing: border-box;
}
html,body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
  overflow: hidden;
}

body{
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  @media(min-width: 480px){
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}
main{
  min-width: 320px;
  min-height: 480px;
  max-width: 480px;
  max-height: 853px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0, 0.4);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  position: relative;
}
section{
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
img{
  display: block;
  width: 100%;
  height: auto;
}
audio{
  display: none;
  visibility: none;
  opacity: 0;
  height: 0;
  width: 0;
}
video{
  display: block;
  width: 100%;
  touch-action: none;
}
canvas{
  display: block;
  width: 100%;
  height: 100%;
}
video::-webkit-media-controls{
  /*opacity: 0;*/
  pointer-events: none;
}
/*video::-webkit-media-controls-play-button,*/
video::-webkit-media-controls-start-playback-button {
  opacity: 0;
  pointer-events: none;
  width: 5px;
}